*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #A9C6E8, #ECECEC) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

main {
    flex: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    min-height: 100vh;
}

.hidden {
    display: none;
}

/*HEADER*/
header {
    background-color: rgba(235, 233, 233, 0.5);
    color: white;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*LOGO*/
.logo {
    text-shadow: 0px 4px 6px rgba(28, 69, 145, 0.6);
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-right: auto;
}

.nav-bar {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-weight: bold;
    gap: 20px;
    margin-left: auto;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar ul li a {
    font-size: 20px;
    padding: 0 10px;
    transition: color 0.5s ease;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-bar ul li a:hover {
    color: rgb(28, 69, 145);
}

/*HEADER LOGIN*/
.header-login-link {
    text-decoration: none;
    color: white;
    background: none;
    border: 1px solid rgba(28, 69, 145, 0.65);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    margin-left: auto;
}

.header-login-link:hover {
    background-color: rgba(28, 69, 145, 0.65);
    border: none;
}

/*LIST*/
.nav-bar ul li .dropdown-a,
.nav-bar ul li .dropdown-b {
    display: none;
    list-style: none;
    position: absolute;
    background-color: rgba(28, 69, 145, 0.85);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

.nav-bar ul li .dropdown-a {
    min-width: 200px;
    top: 100%;
    left: 0;
    margin-top: 5px;
}

.nav-bar ul li .dropdown-b {
    top: 0;
    left: 100%;
    margin-left: 20px;
}

.nav-bar ul li .dropdown-a li,
.nav-bar ul li .dropdown-b li {
    margin: 5px 0;
}

.nav-bar ul li .dropdown-a li a,
.nav-bar ul li .dropdown-b li a {
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    display: block;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.nav-bar ul li .dropdown-a li a:hover,
.nav-bar ul li .dropdown-b li a:hover {
    background-color: rgba(235, 233, 233, 0.8);
    color: rgba(28, 69, 145, 1);
}

.nav-bar ul li:hover > .dropdown-a,
.nav-bar ul .dropdown-a li:hover > .dropdown-b {
    display: block;
}

/* HAMBURGER MENU 
header nav .hamburger-menu .bx-menu,
header nav .hamburger-menu .bx-x {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1200;
}

@media screen and (max-width: 768px) {
    .hamburger-menu .bx-menu {
        display: block;
    }

    .hamburger-menu .bx-x {
        display: none;
    }

    .nav-bar ul {
        flex-direction: column;
        background-color: rgba(28, 69, 145, 0.95);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .nav-bar.active ul {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .nav-bar.active .bx-menu {
        display: none;
    }

    .nav-bar.active .bx-x {
        display: block;
    }

    .nav-bar ul li {
        margin: 15px 0;
        color: white;
        font-size: 1.2em;
    }
}
*/

/*MAIN*/
#home,
#about,
#ycair,
#fq,
#pp {
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    align-items: left;
    justify-content: left;
    animation: fadeIn 0.5s ease-in-out;
}

#intro h1,
#about h1,
#ycair h1,
#fq h1,
#pp h1 {
    font-size: 2.7rem;
    margin-bottom: 30px;
    color: #0056b3;
    font-weight: bold;
}

#intro strong,
#about strong,
#fq strong,
#pp strong {
    font-size: 20px;
    color: #0056b3;
}

#ycair strong,
#intro #last p strong,
#intro #last p strong a {
    color: #fff;
    font-size: 20px;

}

#intro #last p strong a:hover {
    color: #3b83d1;
}

#ycair h4 {
    margin-top: 30px;
    color: #0056b3;
}

#intro p,
#about p,
#ycair p,
#fq p,
#pp p {
    font-size: 20px;
    margin-bottom: 15px;
}

#intro a,
#about a,
#ycair a,
#fq a,
#pp a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s ease;
}

#intro a:hover,
#about a:hover,
#ycair a:hover,
#fq a:hover,
#pp a:hover {
    color: #3b83d1;
}

#intro div:last-child a,
#ycair div:last-child a {
    display: inline-block;
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

#intro div:last-child a:hover,
#ycair div:last-child a:hover {
    color: #fff;
    background-color: #3b83d1;
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

#home #intro {
    margin-bottom: 50px;
}

/*
#slider {
    width: 360px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}

#slide-track {
    display: flex;
    gap: 30px;
    animation: scroll 10s linear infinite;
}

#slide {
    flex: 0 0 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

#slide img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-360px);
    }
}

#slide-track::after {
    content: '';
    display: inline-block;
    width: 100%;
}
*/

#login,
#register,
#acc-confirmation,
#pass-reset,
#find-acc,
#acc-found,
#contact,
#reviews-id,
#member-reviews,
#non-member-reviews {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s ease-in-out;
    text-align: center;   
    max-width: 400px;
    width: 100%; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#login h2,
#register h2,
#acc-confirmation h2,
#pass-reset h2,
#find-acc h2,
#acc-found h2,
#reviews-id h2,
#member-reviews h2,
#non-member-reviews h2{
    margin: 0;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    position: relative;
}

#contact form h2 {
    margin-top: 30px;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
    font-weight: bold;
    position: relative;
}

#login a i,
#register a i {
    justify-content: space-between;
    display: inline-block;
    text-decoration:none;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#login .bxl-google,
#register .bxl-google{
    color:#4285F4;
    background-color:#ececec;
}

#login .bxl-kickstarter,
#register .bxl-kickstarter{
    background-color:#FFCD00;
    color:#3C1E1E;
}

#login .bxl-github,
#register .bxl-github{
    color:#181717;
    background-color:#ececec;
}

#login .bxl-google:hover,
#register .bxl-google:hover{
    background-color: #b6b5b5;
    transform: scale(1.1);
}

#login .bxl-kickstarter:hover,
#register .bxl-kickstarter:hover{
    background-color: #c49d00;
    transform: scale(1.1);
}

#login .bxl-github:hover,
#register .bxl-github:hover{
    background-color: #b6b5b5;
    transform: scale(1.1);}

#login p,
#register p {
    text-align: center;
    margin: 1rem 0;
    color: #666;
    font-size: 14px;
}

#register form div input[type="checkbox"] label {
    color: #666;
}

#login form input[type="text"],
#login form input[type="password"],
#register form input[type="text"],
#register form input[type="tel"],
#register form input[type="password"],
#acc-confirmation form input[type="text"],
#pass-reset form input[type="password"],
#find-acc form input[type="text"],
#contact form input[type="text"],
#contact form input[type="email"],
#non-member-reviews form input[type="email"],
#member-reviews form input[type="email"],
#non-member-reviews form input[type="text"],
#member-reviews form input[type="text"],
#member-reviews form #rating,
#non-member-reviews form #rating {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

#login form input[type="text"]:focus,
#login form input[type="password"]:focus,
#register form input[type="text"]:focus,
#register form input[type="tel"]:focus,
#register form input[type="password"]:focus,
#acc-confirmation form input[type="text"]:focus,
#pass-reset form input[type="password"]:focus,
#find-acc form input[type="text"]:focus,
#contact form input[type="text"]:focus,
#contact form input[type="email"]:focus,
#non-member-reviews form input[type="email"]:focus,
#member-reviews form input[type="email"]:focus,
#non-member-reviews form input[type="text"]:focus,
#member-reviews form input[type="text"]:focus,
#member-reviews form #rating:focus,
#non-member-reviews form #rating:focus {
    border-color: #4facfe;
}

#login form a,
#register form a,
#acc-confirmation form a,
#pass-reset form a,
#find-acc form a,
#acc-found form a,
#contact a,
#reviews-id form a,
#non-member-reviews form a,
#member-reviews form a {
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    transition: color 0.3s ease;
    text-align: center;
    color:#7fb9ed;
}

#login form a:hover,
#register form a:hover,
#acc-confirmation form a:hover,
#pass-reset form a:hover,
#find-acc form a:hover,
#acc-found form a:hover,
#contact a:hover {
    color: #0079d3;
    text-decoration: underline;
}

#login form button,
#register form button,
#acc-confirmation form button,
#pass-reset form button,
#find-acc form button,
#acc-found form button,
#contact form button,
#reviews-id form button,
#non-member-reviews form button,
#member-reviews form button {
    background-color:rgb(66, 106, 224);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 1rem 0;
    border-radius:15px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, color 0.3 ease;
    width: 100%;
    display: block;
    text-align: center;
}

#login form button:hover,
#register form button:hover,
#acc-confirmation form button:hover,
#pass-reset form button:hover,
#find-acc form button:hover,
#acc-found form button:hover,
#contact form button:hover,
#reviews-id form button:hover,
#non-member-reviews form button:hover,
#member-reviews-id form button:hover {
    background-color:rgb(28, 69, 145);
    color: #bde3ff;
}

/*FOOTER*/
footer { 
    margin-top: 100px;
    width: 100%;
}

footer .footer {
    font-size: 16px;
    padding: 20px 40px;
    line-height: 1.6;
}

footer .footer h4 {
    color:#333;
}

footer .footer p {
    color:rgb(66, 106, 224);
}

footer .footer .footer-top a,
footer .footer .footer-bottom a {
    font-weight: bold;
    text-decoration: none;
    color:rgb(66, 106, 224);
    transition: color 0.3s ease;
}

footer .footer .footer-top a:hover,
footer .footer .footer-bottom a:hover {
    text-decoration: underline;
    color: rgb(28, 69, 145);
}

footer .footer .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
}

footer .footer .footer-top div {
    margin: 10px;
    text-align: center;
    padding: 3px 60px;;
}

footer .footer .socials {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin:30px;
}

footer .footer .socials a {
    font-size: 20px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer .footer .socials a:hover {
    background-color: #fff;
    transform: scale(1.1);
}

footer .footer .language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:30px;
}

footer .footer .language select {
    background-color:rgba(28, 69, 145, 0.652);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

footer .footer .footer-bottom {
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
    margin-top:30px;    
    font-size: 14px;
    padding-bottom: 20px;
} 

footer .footer .socials .bxl-instagram{
    color:#E1306C;
    transition:color 0,3 ease;
}

footer .footer .socials .bxl-instagram:hover{
    color:#D6249F;
}

footer .footer .socials .bxl-facebook-square{
    color:#1877F2;
    transition:color 0,3 ease;
}

footer .footer .socials .bxl-facebook-square{
    color:#145DBF;
}

footer .footer .socials .bxl-youtube{
    color:#FF0000;
    transition:color 0,3 ease;
}

footer .footer .socials .bxl-youtube{
    color:#CC0000;
}

@media (max-width: 900px) {
    footer .footer {
        padding: 20px;
        font-size: 14px;
    }

    footer .footer .footer-top,
    footer .footer .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

    footer .footer .footer-top div {
        margin: 10px 0;
    }

    footer .footer .socials a {
        font-size: 16px;
        padding: 10px;
        flex-direction: column;
        text-align: center;
    }

    footer .footer .language select {
        flex-direction: column;
        padding: 5px;
        flex-direction: column;
        text-align: center;
    }
}

/*@keyframes fadeIn {

    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#data {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#data {
    animation: fadeIn 0.5s ease-in-out;
}

#data ul a,
#data #temp-result a {
    text-decoration: none;
}

#data form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 300px;
    border: 1px solid rgba(85, 85, 82, 0.2);
    border-radius: 30px;
    transition: box-shadow 0.3s ease-in-out;
}

#data form input,
#data form button {
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
}

#data form i {
    opacity: 0.8;
    background-color: #0056b3;
    color: #fff;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-radius: 18px;
}

#data #temp-result {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    color: #555;
    border-radius: 10px;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
    animation: fadeIn 1s ease-in-out;
    width: 90%;
    max-width: 800px;
    height: auto;
    padding: 40px;
    font-size: 1.2em;
}


#data #temp img {
    width: 150px;
    filter: drop-shadow(0 10px 50px #555);
}

#data #temp figcaption {
    font-size: 1.5em;
}

#data ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

#data li {
    background-color: #fff;
    color: #555;
    border-radius: 10px;
    padding: 20px 10px;
    font-weight: bold;
    font-size: small;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

#data #temp-result:hover,
#data li:hover,
#data li:focus {
    background-color: #f5f5f5;
    color: #333;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    outline: 2px solid #0056b3;
    outline-offset: 4px;
}

body.dark-mode #data li {
    background-color: #34495e;
    color: #ecf0f1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode #data #temp-result:hover,
body.dark-mode #data li:hover {
    background-color: #2c3e50;
    color: #fff;
}

#data {
    font-family: 'Poppins', sans-serif;
}

#data #temp-result section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    gap: 20px;
}

#data #temp-result section #city,
#data #temp-result section #temp,
#data #temp-result section #real-feel {
    padding: 20px;
    font-size: 1.5em;
}
*/

#app {
    margin-top: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    margin: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.chart-container {
    margin: 20px auto;
}

canvas {
    max-width: 100%;
}